body {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    margin: 0;
  }
  /* Header */
  
  /* Flex container for header */
  
  .header-container {
    display: flex;
    height: 69px;
    width: 100%;
    z-index: 1;
    background-color: black;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    align-items: center;
    position: fixed;
  }
  
  /*Flex items inside flex container */
  
  .logo {
    display: inline-flex;
    padding-left: 10px;
    height: 50px;
  }
  
  nav {
    padding-right: 10px;
    color: seashell;
  }
  
  nav a:link {
    margin: 5px;
    color: seashell;
  }
  
  nav a:visited {
    color: seashell;
  }
  
  /* Mission Container */
  .mission-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    padding-top: 70px;
    opacity: 0.9;
    height: 700px;
    width: 1200px;
    margin: auto;
  }
  
  /*Flex items inside flex container */
  .mission-heading {
    text-align: center;
    background-color: black;
    width: 1200px;
  }
  .tea-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 1000px;
    margin: auto;
  }
  
  .featured {
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    width: 1000px;
  }
  
  .tea {
    display: block;
  }
  .tea img {
    height: 200px;
    width: 300px;
  }
  
  .tea figcaption {
    width: 300px;
    text-align: center;
    padding: 10px;
  }
  
  .location-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    height: 500px;
    width: 1200px;
    margin: auto;
  }
  
  .locations {
    width: 1200px;
    height: 50px;
    text-align: center;
    padding-bottom: 15px;
  }
  
  .location-box {
    display: inline-flex;
    background-color: black;
    border-radius: 3px;
    align-content: center;
    align-items: center;
    flex-flow: column;
    margin: 15px 40px;
    width: 300px;
    opacity: 1;
  }
  
  .contact {
    text-align: center;
    height: 200px;
  }
  
  .contact a:link {
    margin: 5px;
    color: seashell;
  }
  
  footer {
    padding: 20px;
  }
  